<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <!-- Custom Stylesheet -->
    <link th:href="@{/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}"
          rel="stylesheet">
    <!-- Page plugins css -->
    <link th:href="@{/plugins/clockpicker/dist/jquery-clockpicker.min.css}" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link th:href="@{/plugins/jquery-asColorPicker-master/css/asColorPicker.css}" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link th:href="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link th:href="@{/plugins/timepicker/bootstrap-timepicker.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">

    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>
<div th:replace="preloader"></div>

<div id="main-wrapper">

    <div th:replace="/fragments/nav-header"></div>

    <div th:replace="/fragments/header"></div>

    <div th:replace="/fragments/menu"></div>

    <div class="content-body">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="basic-form">
                                <form method="post" th:action="@{/usuarios/add}" th:object="${usuario}">
                                    <div class="form-row">
                                        <input type="hidden"
                                               th:field="*{id}"
                                               th:value="${usuario.id}">
                                        <div class="form-group col-md-4">
                                            <label>Email</label>
                                            <input type="email"
                                                   class="form-control readonly"
                                                   placeholder=""
                                                   th:value="${usuario.email}"
                                                   th:field="*{email}">
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>Nome</label>
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder=""
                                                   th:value="${usuario.nome}"
                                                   th:field="*{nome}">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Telefone</label>
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder=""
                                                   th:value="${usuario.telefone}"
                                                   th:field="*{telefone}">
                                        </div>
                                    </div>
                                    <div class="row form-material">

                                        <div class="form-group col-md-3">
                                            <label>Telefone Secundário</label>

                                            <input type="text"
                                                   class="form-control"
                                                   placeholder=""
                                                   th:value="${usuario.telefoneSecundario}"
                                                   th:field="*{telefoneSecundario}">
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label>Estado Civil</label>

                                            <select name="role" class="form-control" th:field="*{estadoCivil}">
                                                <option th:each="estadoCivil : ${T(com.senac.starter.enums.EstadoCivil).values()}"
                                                        th:text="${estadoCivil}"
                                                        th:value="${estadoCivil}">
                                                </option>

                                            </select>
                                        </div>

                                        <div class="form-group col-md-2">
                                            <label>Sexo</label>

                                            <select name="role" class="form-control" th:field="*{sexo}">
                                                <option th:each="sexo : ${T(com.senac.starter.enums.Sexo).values()}"
                                                        th:text="${sexo}"
                                                        th:value="${sexo}">
                                                </option>

                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label>Data de Nascimento</label>
                                            <div class="input-group">
                                                <input type="text"
                                                       class="form-control
                                                       mydatepicker"
                                                       placeholder="mm/dd/yyyy"
                                                       th:value="${usuario.dataDeNascimento}"
                                                       th:field="*{dataDeNascimento}">

                                                <span class="input-group-append"><span class="input-group-text"><i
                                                        class="mdi mdi-calendar-check"></i></span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label>Cep</label>
                                            <input type="text"
                                                   class="form-control"
                                                   th:value="${usuario.cep}"
                                                   th:field="*{cep}">
                                        </div>
                                        <div class="form-group col-md-8">
                                            <label>Rua</label>
                                            <input type="text"
                                                   class="form-control"
                                                   th:value="${usuario.rua}"
                                                   th:field="*{rua}">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Número</label>
                                            <input type="number"
                                                   class="form-control"
                                                   th:value="${usuario.numero}"
                                                   th:field="*{numero}">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Estado</label>

                                            <select name="role" class="form-control" th:field="*{estado}">
                                                <option th:each="estado : ${T(com.senac.starter.enums.Estado).values()}"
                                                        th:text="${estado.getSigla()}"
                                                        th:value="${estado.getSigla()}">
                                                </option>

                                            </select>


                                        </div>
                                    <div class="form-group col-md-6">
                                            <label>Cidade</label>
                                            <input type="text"
                                                   class="form-control"
                                                   th:value="${usuario.cidade}"
                                                   th:field="*{cidade}">
                                        </div>



                                    </div>
                                    <div class="text-right">
                                        <a href="/usuarios">
                                            <input type="button" class="btn btn-info" value="Voltar">
                                        </a>
                                        <button type="submit" class="btn btn-info">Salvar</button>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="/fragments/footer"></div>

</div>

<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<script th:src="@{/plugins/moment/moment.js}"></script>
<script th:src="@{/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
<!-- Clock Plugin JavaScript -->
<script th:src="@{/plugins/clockpicker/dist/jquery-clockpicker.min.js}"></script>
<!-- Color Picker Plugin JavaScript -->
<script th:src="@{/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js}"></script>
<script th:src="@{/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js}"></script>
<script th:src="@{/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js}"></script>
<!-- Date Picker Plugin JavaScript -->
<script th:src="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<!-- Date range Plugin JavaScript -->
<script th:src="@{/plugins/timepicker/bootstrap-timepicker.min.js}"></script>
<script th:src="@{/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>

<script th:src="@{/js/plugins-init/form-pickers-init.js}"></script>

</body>

</html>
