<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Sexo</th>
            <th scope="col">Espécie</th>
            <th scope="col">Raça</th>

            <th scope="col">Deletar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="animal : ${animais}">
            <th scope="row" th:text="${animal.id}"></th>
            <td>
                <a th:href="@{'/animais/' + ${animal.id}}" th:text="${animal.nome}"></a>

            </td>

            <td th:text="${animal.dataDeNascimento}"></td>
            <td th:text="${animal.sexo}"></td>
            <td th:text="${animal.especie}"></td>
            <td th:text="${animal.raca}"></td>

            <td>
                <a th:href="@{'/animais/deletar/' + ${animal.id}}">
                    <i class="icon-trash" ></i>
                </a>

            </td>
        </tr>
        </tbody>
    </table>
</div>

