<div th:fragment="menu">
    <div class="nk-sidebar">
        <div class="nk-nav-scroll">
            <ul class="metismenu" id="menu">
                <li class="mega-menu mega-menu-sm">
                    <a href="/" aria-expanded="false">
                        <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                    </a>

                </li>
                <hr>

                <li class="mega-menu mega-menu-sm">
                    <a href="/usuarios" aria-expanded="false">
                        <i class="icon-user menu-icon"></i><span class="nav-text">Usuários</span>
                    </a>

                </li>
                <li class="mega-menu mega-menu-sm">
                    <a href="/animais" aria-expanded="false">
                        <i class="icon-list menu-icon"></i><span class="nav-text">Animais</span>
                    </a>

                </li>

            </ul>
        </div>
    </div>


</div>
