<div th:fragment="menu">
    <div class="nk-sidebar">
        <div style="margin-top:2rem">
        <div class="nk-nav-scroll" style="top:1rem">
            <ul class="metismenu" id="menu">
                <li class="mega-menu mega-menu-sm">
                    <a href="/" aria-expanded="false">
                        <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                    </a>

                </li>
                <hr>

                <li class="mega-menu mega-menu-sm">
                    <a href="/usuarios" aria-expanded="false">
                        <i class="icon-user menu-icon"></i>
                        <span class="nav-text">Usuários</span>
                    </a>

                </li>
                <li class="mega-menu mega-menu-sm">
                    <a href="/animais" aria-expanded="false">
                        <i class="icon-social-github menu-icon">
                        </i><span class="nav-text">Animais</span>
                    </a>

                </li>
                <li class="mega-menu mega-menu-sm">
                    <a href="/produtos" aria-expanded="false">
                        <i class="icon-bag menu-icon"></i>
                        <span class="nav-text">Produtos</span>
                    </a>

                </li>
                <li class="mega-menu mega-menu-sm">
                    <a href="/transacoes" aria-expanded="false">
                        <i class="icon-bag menu-icon"></i>
                        <span class="nav-text">Vendas</span>
                    </a>

                </li>
                <li class="mega-menu mega-menu-sm">
                    <a href="/permissoes" aria-expanded="false">
                        <i class="icon-bag menu-icon"></i>
                        <span class="nav-text">Permissões</span>
                    </a>

                </li>
                <li class="mega-menu mega-menu-sm">
                    <a href="/github/desenvolvedor" aria-expanded="false">
                        <i class="icon-bag menu-icon"></i>
                        <span class="nav-text">Desenvolvedor</span>
                    </a>

                </li>
                <li class="mega-menu mega-menu-sm">
                    <a href="/postagens" aria-expanded="false">
                        <i class="icon-bag menu-icon"></i>
                        <span class="nav-text">Postagens</span>
                    </a>

                </li>
            </ul>
        </div>
        </div>
    </div>


</div>
