<ul class="nav nav-pills mb-3">
    <li class="nav-item">
        <a href="#navpills-1" class="nav-link active" data-toggle="tab" aria-expanded="false">Animais</a>
    </li>
    <li class="nav-item">
        <a href="#navpills-2" class="nav-link" data-toggle="tab" aria-expanded="false">Compras</a>
    </li>
    <li class="nav-item">
        <a href="#navpills-3" class="nav-link" data-toggle="tab" aria-expanded="true">Permissões</a>
    </li>
</ul>
<div class="tab-content br-n pn">
    <div id="navpills-1" class="tab-pane active">
        <div class="row align-items-center">
            <div class="col">
                <div th:replace="/fragments/animal-list-fragment"></div>

            </div>
        </div>
    </div>
    <div id="navpills-2" class="tab-pane">
        <div class="row align-items-center">
            <div class="col">
                <div th:replace="/fragments/transacao-list-fragment"></div>

            </div>
        </div>
    </div>
    <div id="navpills-3" class="tab-pane">
        <div class="row align-items-center">
            <div class="col-sm-6 col-md-4 col-xl-2">
                <img src="images/big/card-1.png" alt="" class="img-fluid thumbnail m-r-15">
            </div>
            <div class="col-sm-6 col-md-8 col-xl-10">
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
                <p>Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.</p>
            </div>
        </div>
    </div>
</div>