<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
<div th:replace="preloader"></div>

<div id="main-wrapper">

    <div th:replace="/fragments/nav-header"></div>

    <div th:replace="/fragments/header"></div>

    <div th:replace="/fragments/menu"></div>

    <div class="content-body">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card card-widget">
                                <div class="card-body gradient-3">
                                    <div class="media">
                                        <span class="card-widget__icon"><i class="icon-emotsmile"></i></span>
                                        <div class="media-body">
                                            <h3 class="text-white">
                                                <span th:text="${#lists.size(usuarios)}"/>
                                                Usuários Cadastrados
                                            </h3>
                                        </div>
                                        <div class="right">
                                            <button type="button" class="btn mb-1 btn-rounded btn-info btn-lg">
                                                <i class="icon-plus" style="margin-top:10px"></i>
                                                Novo Usuário
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Idade</th>
                                        <th scope="col">Casado</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="usuario : ${usuarios}">
                                        <th scope="row" th:text="${usuario.id}"></th>
                                            <td>
                                                <a th:href="@{'/usuarios/' + ${usuario.id}}" th:text="${usuario.nome}"></a>

                                            </td>

                                        <td th:text="${usuario.idade}"></td>
                                        <td th:text="${usuario.casado}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div th:replace="/fragments/footer"></div>

</div>

<script src="plugins/common/common.min.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/settings.js"></script>
<script src="js/gleek.js"></script>
<script src="js/styleSwitcher.js"></script>

</body>

</html>
