<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <!-- Custom Stylesheet -->
    <link th:href="@{/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}"
          rel="stylesheet">
    <!-- Page plugins css -->
    <link th:href="@{/plugins/clockpicker/dist/jquery-clockpicker.min.css}" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link th:href="@{/plugins/jquery-asColorPicker-master/css/asColorPicker.css}" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link th:href="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link th:href="@{/plugins/timepicker/bootstrap-timepicker.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">

    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>
<div th:replace="preloader"></div>

<div id="main-wrapper">

    <div th:replace="/fragments/nav-header"></div>

    <div th:replace="/fragments/header"></div>

    <div th:replace="/fragments/menu"></div>

    <div class="content-body">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="basic-form">
                                <form method="post" th:action="@{/transacoes/add}" th:object="${transacao}">
                                    <div class="form-row">
                                        <input type="hidden"
                                               th:field="*{id}"
                                               th:value="${transacao.id}">
                                        <div class="form-group col-md-4">
                                            <label>Total da Transacao</label>
                                            <input type="number"
                                                   class="form-control readonly"
                                                   placeholder=""
                                                   step="0.01"
                                                   th:value="${transacao.totalVenda}"
                                                   th:field="*{totalVenda}">
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>Data</label>
                                            <input type="text"
                                                   class="form-control
                                                       mydatepicker"
                                                   placeholder="mm/dd/yyyy"
                                                   th:value="${transacao.data}"
                                                   th:field="*{data}">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Forma De Pagamento</label>
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder=""
                                                   th:value="${transacao.formaDePagamento}"
                                                   th:field="*{formaDePagamento}">
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <a href="/transacoes">
                                            <input type="button" class="btn btn-info" value="Voltar">
                                        </a>
                                        <button type="submit" class="btn btn-info">Salvar</button>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="/fragments/footer"></div>

</div>

<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<script th:src="@{/plugins/moment/moment.js}"></script>
<script th:src="@{/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
<!-- Clock Plugin JavaScript -->
<script th:src="@{/plugins/clockpicker/dist/jquery-clockpicker.min.js}"></script>
<!-- Color Picker Plugin JavaScript -->
<script th:src="@{/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js}"></script>
<script th:src="@{/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js}"></script>
<script th:src="@{/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js}"></script>
<!-- Date Picker Plugin JavaScript -->
<script th:src="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<!-- Date range Plugin JavaScript -->
<script th:src="@{/plugins/timepicker/bootstrap-timepicker.min.js}"></script>
<script th:src="@{/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>

<script th:src="@{/js/plugins-init/form-pickers-init.js}"></script>

</body>

</html>
